div#clockwork_felogin .typo3-messages {
   float: left;
   position: relative;
   clear: both;
}
.input-group .checkbox label {
   width: 100% !important;
}
.pull-right.forgot_pass_text {
   font-size: 12px;
   position: relative;
   top: -12px;
}
#clockwork_felogin .fa-lg {
    font-size: 1em;
}
.fa-circle:before {
    color: white;
}
#clockwork_felogin .btn-info:hover {
    color: #0062a9 !important;
    background: #ffffff !important;
}

#clockwork_felogin .btn-info {
    color: #0062a9 !important;
    background: #d9edf7 !important;
}
#loginbox .panel-body {
    padding-top: 30px;
}
.input-group {
    margin-bottom: 25px;
}
.input-group:first-child {
    margin-top: 25px;
}
.input-group:last-child {
    margin-top: 0px !important;
}
#loginbox form#loginform {
    padding: 5px;
    margin: 10px;
}